* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    background-color: #efefef;
}

/* #active {
    display: none;
} */

#ui-layer {
    position: absolute;
    right: 0;
    top: 0;
}